<div class="row">
    <div class="col-md-6">
      <a routerLink="" href="" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>Back to Dashboard </a>
    </div>
    <div class="col-md-6"></div>
  </div>
<div class="card">
  <h3 class="card-header"></h3>
  <div class="card-block add-padding">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <div class="toggle-option">
            <p>Allow Registration</p>

            <label class="toggle">
              <input
                type="checkbox"
                [checked]="settings.allowRegistration"
                (change)="settings.allowRegistration = !settings.allowRegistration"
                name="allowRegistration"
              >
              <span class="toggler round"></span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="toggle-option">
          <p>Disable Balance On Add</p>
            <label class="toggle">
              <input
                type="checkbox"
                [checked]="settings.disableBalanceOnAdd"
                (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"
                name="disableBalanceOnAdd"
              >
              <span class="toggler round"></span>
            </label>
        </div>
      </div>

      <div class="form-group">
        <div class="toggle-option">
          <p>Disable Balance On Edit</p>

          <label class="toggle">
            <input
              type="checkbox"
              [checked]="settings.disableBalanceOnEdit"
              (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"
              name="disableBalanceOnEdit"
            >
            <span class="toggler round"></span>
          </label>
        </div>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Update">
    </form>
  </div>
</div>  